body {
    background-image: url(../images/lib.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:first-child {
    margin-left: 10%;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
    margin-right: 10%;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

#base {
    width: 80%;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    clear: both;
    display: table;
    padding: 0;
    background-color: rgba(218, 238, 240,0.9);
}

.container {
    position: relative;
    width: 24%;
    height: 300px;
    margin-left: 7%;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}
.overlay {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0;
    background-color: rgba(0, 130, 150, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;

}

.container:hover .overlay {
    height: 251px;
}
.container img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.btn {
    position: absolute;
    left: 35%;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
}

#btn1 {
    top: 20px;
    background-color: green;
}

#btn2 {
    top: 200px;
    background-color: red;
}

#btn3 {
    top: 110px;
    background-color: blue;
}
#submit{
    width:10%;
    margin: auto;
    text-align: center;
   //*/ margin-top: 10px;*/

    border: 1px solid black;
    margin-bottom: 20px;
}
#submit input{
    padding: 8px;
    background-color: aqua;
    border-radius: 5px;
}
